.DS_Store
**/.DS_Store
.build/
.xcode-derived/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
.swiftpm/
*.ipa
*.dSYM.zip
*.dSYM
build/
_workspace/
